<TabView androidTabsPosition="bottom">
    <page-router-outlet *tabItem="{title: 'Players Tab'}" name="playerTab" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Filters'}" name="filtersTab" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'User Infos'}" name="userInfosTab" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Teams Tab'}" name="productsCartTab" actionBarVisibility="never">
    </page-router-outlet>
</TabView>