<TabView androidTabsPosition="bottom" #bottomNavigation>

    <page-router-outlet *tabItem="{title: 'Produtos'}" name="productsTab" actionBarVisibility="aways">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Filtros'}" name="filtersTab" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Carrinho'}" name="productsCartTab" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Perfil'}" name="userInfosTab" actionBarVisibility="never">
    </page-router-outlet>
</TabView>