<TabView
  #bottomNavigation
  selectedTabTextColor="#00d790"
  tabBackgroundColor="#F9F9F9"
  tabTextFontSize="10"
  androidTabsPosition="bottom"
  IconRenderingMode="alwaysOriginal"
  class="bottomNavIcon"
>

  <StackLayout *tabItem="{title: '&#xF06B; '}" >
    <page-router-outlet name="productsTab"></page-router-outlet>
  </StackLayout>

  <StackLayout *tabItem="{title: '&#xF0B0; '}" >
    <page-router-outlet name="filtersTab"></page-router-outlet>
  </StackLayout>

  <StackLayout *tabItem="{title: '&#xF07A; 5'}" >
    <page-router-outlet name="browseTab"></page-router-outlet>
  </StackLayout>

  <StackLayout *tabItem="{title: '&#xF007; '}" >
    <page-router-outlet name="profileTab"></page-router-outlet>
  </StackLayout>

</TabView>

<!-- <BottomNavigation #bottomNavigation selectedIndex="0" >

    <TabStrip>
        <TabStripItem>
            <Label text="Products"></Label>
            <Image src="font://&#xF06B;" class="fa t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Filtrar"></Label>
            <Image src="font://&#xF0B0;" class="fa t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Carrinho"></Label>
            <Image src="font://&#xF07A;" class="fa t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Meu Perfil"></Label>
            <Image src="font://&#xF007;" class="fa t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="homeTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="filtersTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="browseTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="searchTab"></page-router-outlet>
    </TabContentItem>

</BottomNavigation> -->
