<ActionBar
  title="test"
  class="action-bar main-gradient"
  ios:backgroundColor="rgb(1, 145, 97)"
>

  <StackLayout
    orientation="horizontal"
    horizontalAlignment="left"
    class="action-bar-content"
    ios:paddingTop="0"
    ios:marginTop="0"
    elevation="3"
  >

    <Image
      src="~/images/upicon.png"
      class="action-bar-icon"
      ios:height="33">
    </Image>

    <Label
      class="action-bar-title"
      text="MyGift">
    </Label>

  </StackLayout>

  <ActionItem
    (tap)="goToProducts()"
    position="right"
    ios.position="right"
  >
    <StackLayout
      orientation="horizontal"
    >

      <Label
        marginRight="15"
        text="Filtrar"
        color="white">
      </Label>

    </StackLayout>

  </ActionItem>
</ActionBar>


<ScrollView orientation="vertical">

<StackLayout
  class="page page-content"
  orientation="vertical"
  ios:verticalAlignment="top"
  padding="25"
>

  <Label
    text="Filtros"
    textWrap="true"
    fontSize="32pt"
    color="#00d790"
    width="100%"
    paddingBottom="25">
  </Label>

  <Label
    text="Selecione as características para filtrar os produtos!"
    textWrap="true"
    width="100%"
    paddingBottom="25">
  </Label>

  <Label
    text="Público"
    textWrap="true"
    fontSize="22pt"
    color="#00d790"
    width="100%">
  </Label>

  <StackLayout
    orientation="horizontal"
    paddingTop="15"
  >

    <Switch
      checked="false"
      (checkedChange)="onCheckedChange($event)"
      position="left">
    </Switch>

    <Label
      text="Masculino"
      android:marginTop="5"
      marginLeft="5">
    </Label>


  </StackLayout>


  <StackLayout
    orientation="horizontal"
    paddingTop="15"
  >

    <Switch
      checked="false"
      (checkedChange)="onCheckedChange($event)"
      position="left">
    </Switch>

    <Label
      text="Feminino"
      android:marginTop="5"
      marginLeft="5">
    </Label>


  </StackLayout>


  <StackLayout
    orientation="horizontal"
    paddingTop="15"
  >

    <Switch
      checked="false"
      (checkedChange)="onCheckedChange($event)"
      position="left">
    </Switch>

    <Label
      text="Adultos"
      android:marginTop="5"
      marginLeft="5">
    </Label>


  </StackLayout>

  <StackLayout
    orientation="horizontal"
    paddingTop="15"
  >

    <Switch
      checked="false"
      (checkedChange)="onCheckedChange($event)"
      position="left">
    </Switch>

    <Label
      text="Jovens"
      android:marginTop="5"
      marginLeft="5">
    </Label>

  </StackLayout>

  <StackLayout
    orientation="horizontal"
    paddingTop="15"
  >

    <Switch
      checked="false"
      (checkedChange)="onCheckedChange($event)"
      position="left">
    </Switch>

    <Label
      text="Crianças"
      android:marginTop="5"
      marginLeft="5">
    </Label>

  </StackLayout>


  <Label
    text="Tipo"
    textWrap="true"
    fontSize="22pt"
    color="#00d790"
    width="100%"
    marginTop="25">
  </Label>

  <StackLayout
    orientation="horizontal"
    paddingTop="15"
  >

    <Switch
      checked="false"
      (checkedChange)="onCheckedChange($event)"
      position="left">
    </Switch>

    <Label
      text="Vestuário"
      android:marginTop="5"
      marginLeft="5">
    </Label>

  </StackLayout>

  <StackLayout
    orientation="horizontal"
    paddingTop="15"
  >

    <Switch
      checked="false"
      (checkedChange)="onCheckedChange($event)"
      position="left">
    </Switch>

    <Label
      text="Calçados"
      android:marginTop="5"
      marginLeft="5">
    </Label>

  </StackLayout>

  <StackLayout
    orientation="horizontal"
    paddingTop="15"
  >

    <Switch
      checked="false"
      (checkedChange)="onCheckedChange($event)"
      position="left">
    </Switch>

    <Label
      text="Acessórios"
      android:marginTop="5"
      marginLeft="5">
    </Label>

  </StackLayout>

  <Button (tap)="goToProducts()" class="btn-primary" ios:backgroundColor="#00d790" marginTop="25" borderRadius="5" color="#FFF">
    <Span text="FILTRAR"></Span>
  </Button>

</StackLayout>

</ScrollView>