<ActionBar
  title="test"
  class="action-bar main-gradient"
  ios:backgroundColor="rgb(1, 145, 97)"
>

  <StackLayout
    orientation="horizontal"
    horizontalAlignment="left"
    class="action-bar-content"
    ios:paddingTop="0"
    ios:marginTop="0"
    elevation="3"
  >

    <Image
      src="~/images/upicon.png"
      class="action-bar-icon"
      ios:height="33">
    </Image>

    <Label
      class="action-bar-title"
      text="MyGift">
    </Label>

  </StackLayout>

  <ActionItem
    (tap)="goToProducts()"
    position="right"
    ios.position="right"
  >
    <StackLayout
      orientation="horizontal"
    >

      <Label
        marginRight="15"
        text="Filtrar"
        color="white">
      </Label>

    </StackLayout>

  </ActionItem>
</ActionBar>


<ScrollView orientation="vertical">

  <StackLayout
    class="page page-content"
    orientation="vertical"
    ios:verticalAlignment="top"
    padding="25"
  >

    <Label
      text="Carrinho"
      textWrap="true"
      fontSize="32pt"
      color="#00d790"
      width="100%"
      paddingBottom="25">
    </Label>

    <Label
      text="Selecione as características para filtrar os produtos!"
      textWrap="true"
      width="100%"
      paddingBottom="25">
    </Label>

  </StackLayout>

</ScrollView>